<div class="section forgotpassword">
  <div class="container">
    {{#if messages.info}}
      <div class="text-info light">
        {{#each messages.info}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.error}}
      <div class="text-danger light">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <div class="row">
      <div class="col s12 center">
        <form class="forgotform z-depth-4 center" method="POST">
          <br>
          <h2 class="header col s12 light">Zresetuj hasło</h2>
          <h5 class="header col s12 light">Podaj swój adres E-mail aby otrzymać instrukcję jak zresetować swoje hasło</h5>
          <div class="row">
            <div class="input-field col s12">
              <input type="email" name="email" id="email" autofocus required="">
              <label for="email">Email</label>
            </div>
            <button class="waves-effect waves-light btn red" type="submit">Zresetuj hasło</button>
          </div>
          <br>
        </form>
      </div>
    </div>
    <br>
  </div>
</div>
