<!-- footer -->
<footer class="page-footer green darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Lorem</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, tota argumentum ne vel. Eu vero sadipscing delicatissimi sit, ei pro sale nobis, ullum offendit recusabo eu has. His et illum laudem mucius.</p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Dolor</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, tota argumentum ne vel. Eu vero sadipscing delicatissimi sit, ei pro sale nobis, ullum offendit recusabo eu has. His et illum laudem mucius.</p>
      </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright center green darken-4">
    <div class="container">
      Made by <a class="white-text" href="https://burziszcze.github.io/">{{translation.AUTHOR}}</a> &copy; 2017
    </div>
  </div>
</footer>
