<div class="section contactform">
  <div class="container">
    {{#if messages.success}}
      <div class="text-success light">
        {{#each messages.success}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if messages.error}}
      <div class="text-danger light">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <div class="contactformtext center">
      <i class="fa fa-envelope-o contactformicon" aria-hidden="true"></i>
      <h4 class="header col s12 light">Formularz kontaktowy</h4>
      <h5 class="header col s12 light">Skontaktuj się ze mną prywatnie</h5>
    </div>
    <div class="row">
      <div class="col s12 center">
        <form class="col s12" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" required="">
              <label for="name">Imię</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" required="">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="message" type="text" class="validate" required="">
              <label for="message">Wiadomość</label>
            </div>
          </div>
          <button class="waves-effect waves-light btn red btn-large" type="submit"><i class="fa fa-paper-plane right" aria-hidden="true"></i>Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</div>
