<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <!-- <form class="col s12 center" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" autofocus>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="message">Body</label>
    <textarea name="message" id="message" rows="7"></textarea>
    <br>
    <button class="waves-effect waves-light btn red" type="submit">Wyślij</button>
  </form>
  <br> -->
  <h3 class="center">Formularz kontaktowy</h3>
  <form class="col s12" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate">
        <label for="name">Imię</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="messgae" type="text" class="validate">
        <label for="message">Wiadomość</label>
      </div>
    </div>
    <button class="waves-effect waves-light btn red" type="submit">Wyślij</button>
  </form>
  <br>
</div>
